extends layout.pug
block content
  h1 Welcome back to Josh Blog
  form(method="post" action="/login")
    label(for="username") Email
    input#username(type="text" name="email")
    label(for="password") Password
    input#password(type="password" name="password")
    button(type="submit") Login
  br
  .register-a
    a(href="/register") Register